.footer {
    height: 50px;
    width: 100%;
    background-color: #25273c;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }
  
  .middle-footer {
    display: flex;
    justify-content: space-between;
    width: 232px;
    /* border: 3px solid red; */
    align-items: center;
    
  }

  .todo-status:hover {
    cursor: pointer;
  }

  .blue-background {
    color: blue;
  }